@import "../../mixins.scss";

.modalWrapper {
  background: rgba(0, 0, 20, 0.71);
  position: fixed;
  z-index: 2000000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  z-index: 20000;
  color: #fff;
  background: $blue;
  box-shadow: 10px 11px 54px 25px rgba(55, 55, 55, 0.43);
  padding: 44px 44px 32px;
  box-sizing: border-box;
  position: relative;
  width: 600px;
  max-width: 93%;
  .close {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

.modalContent {
  overflow-y: auto;
  margin: 0 auto;
  min-height: 450px;
  max-height: 95vh;
  &.overflowVisible {
    overflow: visible;
  }
}

@media (max-width: 992px) {
  .modal {
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 93%;
  }
}
