@import "../../mixins.scss";

.vaultPage {
  background: #000015;
  // padding-bottom: px;
}

.vaultLogo {
  width: 800px;
  display: block;
  margin: 100px auto 72px;
}

.slogan {
  font-weight: 300;
  color: $blue;
  font-size: 36px;
  text-align: center;
  margin: 36px auto 40px;
}

.vaultsInfos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 64px;
}

.vaultsInfo {
  width: 100%;
  text-align: center;
  padding: 24px 0;
  background: rgba(2, 14, 45, 0.8);
  &.crv {
    background: rgba(7, 32, 89, 0.8);
    .vaultsInfoTitle {
      color: #fff;
    }
  }
}

.vaultsInfoTitle {
  font-size: 20px;
  color: $blue;
  margin-bottom: 8px;
}

.vaultsInfoValue {
  font-size: 32px;
  font-weight: 500;
  color: $blue;
}


.liquidityListHeader {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr 32px;
  font-weight: 100;
  color: $blue;
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
  padding: 0 32px;
  @media (min-width: 1536px) {
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 120px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 24px;

  }

  @media (max-width: 576px) {
    grid-template-columns: 110px 1fr 1fr 1fr 16px;
    div:nth-child(4) {
      display: none;
    }
  }
}

.poolsWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  .poolsList {
    width: 100%;
  }
  .poolsListHeader {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr 32px;
    font-weight: 100;
    color: $blue;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
    padding: 0 32px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #000;
}

@media (max-width: 992px) {
  // .vaultsInfos {
  //   flex-wrap: wrap;
  // }
  .slogan {
    font-size: 24px;
  }

  .vaultsInfo {
    // width: 100%;
    padding: 12px 0;
  }
  .vaultsInfoTitle {
    font-size: 20px;
  }

  .vaultsInfoValue {
    font-size: 18px;
  }
  .poolsWrapper {
    flex-wrap: wrap;
    .poolsList {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .slogan {
    font-size: 20px;
  }
  .poolsWrapper {
    .poolsListHeader {
      grid-template-columns: 120px 1fr 1fr 1fr 24px;
      font-size: 14px;
      margin-bottom: 12px;
      padding: 0 20px;
    }
  }
}

@media (max-width: 576px) {
  .vaultsInfoTitle {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .vaultsInfoValue {
    font-size: 16px;
  }
  .poolsWrapper {
    .poolsListHeader {
      grid-template-columns: 110px 1fr 1fr 16px;
      div:nth-child(4) {
        display: none;
      }
    }
  }
}
