@import "../../../../mixins.scss";

.poolItemNew {
  margin-bottom: 24px;
  &.liquidityItem {
    margin-bottom: 52px;
    .briefLine {
      grid-template-columns: 200px 1fr 1fr 1fr 1fr 32px;
    }
  }
  .briefLine {
    text-align: center;
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 32px;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    color: $blue;
    cursor: pointer;
    background: rgba(2, 14, 45, 0.8);
    &.active {
      color: #fff;
      background: rgba(10, 44, 112, 0.8);
    }
    .icon {
      width: 40px;
    }
    .arrow {
      cursor: pointer;
    }
  }
  .ifoTag {
    color: #fff;
    font-size: 14px;
    background: rgba(241, 145, 73, 1);
    padding: 2px 12px;
    font-weight: 500;
  }
  .poolName {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .detail {
    color: $blue;
    background: rgba(7, 32, 89, 0.8);
    padding: 32px 44px 32px 82px;
    .actionTag {
      font-size: 20px;
      margin-right: 24px;
    }
    .actionToken {
      font-size: 20px;
      color: #fff;
      margin-right: 32px;
      display: flex;
      align-items: center;
    }
    .actionHint {
      font-size: 14px;
      margin: 32px 0 24px;
    }
    .aprTag {
      font-size: 18px;
      margin-right: 8px;
    }
    .aprValue {
      font-size: 18px;
      color: #fff;
    }
    .aprSection {
      margin-top: 8px;
    }
    .moreInfo {
      margin-top: 8px;
      font-size: 14px;
      font-weight: 100;
    }
    .moreInfoValue {
      color: #fff;
    }

    .actions {
      margin-top: 16px;
      text-align: right;
      button {
        margin-left: 24px;
      }
    }
  }
  @media (min-width: 1536px) {
    &.liquidityItem{
      .briefLine {
        grid-template-columns: 200px 1fr 1fr 1fr 1fr 120px;
      }
    }
    .briefLine {
      grid-template-columns: 200px 1fr 1fr 1fr 120px;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 16px;
    &.liquidityItem{
      .briefLine {
        grid-template-columns: 120px 1fr 1fr 1fr 1fr 24px;
      }
    }
    .detail {
      padding: 24px;
      .actionTag {
        font-size: 14px;
        margin-right: 8px;
      }
      .actionToken {
        font-size: 14px;
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .briefLine {
      padding: 16px 20px;
      grid-template-columns: 120px 1fr 1fr 1fr 24px;
      font-size: 14px;
      .icon {
        width: 20px;
      }
    }
    .poolName {
      gap: 8px;
    }
  }
  @media (max-width: 576px) {
    &.liquidityItem{
      .briefLine {
        grid-template-columns: 110px 1fr 1fr 1fr 16px;
      }
    }
    .briefLine {
      grid-template-columns: 110px 1fr 1fr 16px;
      div:nth-child(4) {
        display: none;
      }
    }
  }
}
