@import "../../mixins.scss";

.tipWrapper {
    padding: 4px;
    position: fixed;
    z-index: 3000000000;
    // z-index: 4000;
}

.tipContent {
    width: 360px;
    padding: 16px;
    border-radius: 16px;
    background: #fff;
    color: $blue;
    
    @media (max-width: 1440px) {
        font-size: 15px;
    }

    @media (max-width: 1200px) {
        font-size: 14px;
        width: 200px;
        &.center {
            left: -100px;
        }
    }
    @media (max-width: 992px) {
        font-size: 12px;
        width: 160px;
        &.center {
            left: -80px;
        }
    }
}
