// @import 'components/kit/vendors/antd/style';
@import "./mixins.scss";

@font-face {
  font-family: "museo";
  font-weight: 100;
  src: url("./assets/museo/MuseoSans-100.otf");
}

@font-face {
  font-family: "museo";
  font-weight: 300;
  src: url("./assets/museo/MuseoSans-300.otf");
}

@font-face {
  font-family: "museo";
  font-weight: 500;
  src: url("./assets/museo/MuseoSans-500.otf");
}

@font-face {
  font-family: "museo";
  font-weight: 700;
  src: url("./assets/museo/MuseoSans-700.otf");
}

@font-face {
  font-family: "museo";
  font-weight: 900;
  src: url("./assets/museo/MuseoSans-900.otf");
}

html body {
  font-family: "museo", sans-serif;
  font-weight: 300;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
}

// .hidden {
//   display: none !important;
// }

svg {
  touch-action: auto;
}

.color-blue {
  $blue: #005dea;
}
.color-light-blue {
  color: #5ad0ff;
}

.color-white {
  color: #fff;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  .ant-alert {
    margin: 24px 0 32px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

.web3modal-modal-lightbox {
  z-index: 999 !important;
}

.ant-notification {
  z-index: 99999999999999 !important;
}

// .ant-form-item-label > label > .anticon {
//   color: #595c97 !important;
// }

// .ant-form-item-label > label {
//   color: #969696 !important;
// }

.ant-tag.wrong-network-tag {
  font-size: 15px !important;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.text-align-right {
  text-align: right;
}

.web3modal-provider-container {
  &:hover {
    background: rgb(20, 20, 20);
  }
}

.visible-tablet {
  display: none;
}

@media (max-width: 992px) {
  .visible-pc {
    display: none;
  }
  .visible-tablet {
    display: block;
  }
}

@media (max-width: 576px){
  .visible-tablet{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .balance-tag {
    display: none;
  }
  .logo-wrapper {
    height: 60px;
  }
}
